<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}"/>
    <title>E-Learning WebApp - {% block title %}Welcome!{% endblock %}</title>
    <script type="text/javascript"> (function () {
        var css = document.createElement('link');
        css.href = 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
        css.rel = 'stylesheet';
        css.type = 'text/css';
        document.getElementsByTagName('head')[0].appendChild(css);
    })(); </script>


    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" crossorigin="anonymous"
          media="all" type="text/css">
    <link rel="stylesheet" href="{% static 'myapp/css/fileinput.min.css' %}" media="all" type="text/css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'myapp/js/plugins/buffer.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'myapp/js/plugins/filetype.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'myapp/js/plugins/piexif.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'myapp/js/plugins/sortable.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'myapp/js/bootstrap.bundle.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'myapp/js/fileinput.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/themes/fa5/theme.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand font-weight-bolder mr-3" href="{% url 'myapp:index' %}"><img
            src="{% static 'myapp/img/logo.png' %}"></a>
    <button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault"
            aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsDefault">
        <ul class="navbar-nav mr-auto align-items-center">
            <form class="bd-search hidden-sm-down">
                <input type="text" class="form-control bg-graylight border-0 font-weight-bold" id="search-input"
                       placeholder="Search..." autocomplete="off">
                <div class="dropdown-menu bd-search-results" id="search-results">
                </div>
            </form>
        </ul>
        <ul class="navbar-nav ml-auto align-items-center">
            {% if request.user.is_authenticated %}
                <a class="nav-link active" href="{% url 'myapp:index' %}">Hello {{ request.user.username }}</a>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'myapp:profile_upload_page' %}"><img class="rounded-circle mr-2"
                                                                                     src="{% url 'myapp:request_profile' request.user.id %}"
                                                                                     width="30">
                        <span class="align-middle">{{ request.user.username }}</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'myapp:logout' %}"><span class="align-middle">Log out</span></a>
                </li>

            {% else %}
                <a class="nav-link active" href="{% url 'myapp:index' %}">Hello User!</a>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'myapp:login' %}"><img class="rounded-circle mr-2"
                                                                            src="{% static 'myapp/img/av.png' %}"
                                                                            width="30"><span
                            class="align-middle">Log in</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'myapp:register' %}"><span class="align-middle">Registration</span></a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<main role="main">
    <div class="container mb-4">
        {% block body_block %}*** {% endblock %}
    </div>
    <hr />
    <div>
        <ul>
            {% if request.user.is_authenticated %}
                <li class="hbar1"><a href="{% url 'myapp:myorders' %}">Check All Your Orders</a><br></li>
            {% endif %}
            <li class="hbar1"><a href="{% url 'myapp:about' %}">Find out about our E-Learning site</a><br></li>
            <li class="hbar1"><a href="{% url 'myapp:index' %}">Click here to return to main page</a><br/></li>
            <li class="hbar1"><a href="{% url 'myapp:courses' %}">Click here to check available courses</a><br/></li>
        </ul>
    </div>
</main>
</body>