{% extends 'myapp/base.html' %}

{% block body_block %}
    <h3>Available Courses:</h3>
    <table>
        {% for course in courlist %}
        <tr>
            <td>{{ course.id }}</td>
            <td><a href = {% url "myapp:course_detail" course.id %}>{{ course.name }}</a></td>
            <td>{{ course.price }}</td>
        </tr>
        {% endfor %}
    </table>
    <ul>
        <li class="hbar1"><a href = "{% url 'myapp:index' %}">Click here to return to main page</a><br/></li>
        <li class="hbar1"><a href = "{% url 'myapp:place_order' %}">Click here to place an order</a><br></li>
    </ul>
{% endblock %}

{% block myhdg %}Hello {{ user.getUserName }}{% endblock %}