{% extends 'Myapp/base.html' %}

{% block body_block %}
    <p>{{ course.name }}   ${{ course.price }} , its interested No is {{ course.interested }}</p>
    {% if course.for_everyone %}
        <p>This course is for everyone</p>
    {% else %}
        <p>This course is not for everyone</p>
    {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <input type = "submit" value="submnit" />
        </form>
{% endblock %}

{% block myhdg %}{% endblock %}
{% block title %}Course_detail{% endblock %}