{% extends 'myapp/base.html' %}

{% block body_block %}
    <h3>Available Courses:</h3>
    <table>
        {% for course in courlist %}
        <tr>
            <td>{{ course.id }}</td>
            <td>{{ course.name }}</td>
            <td>{{ course.price }}</td>
        </tr>
        {% endfor %}
    </table>
    <h3>Place Order Here: </h3>
    <form action="" method="post">
        {% csrf_token %}
        {{ order_form }}
        <input type="submit" value="Submit">
    </form>
    <p><a href={% url "myapp:index" %}></a></p>
{% endblock %}

{% block myhdg %}Hello {{ user.getUserName }}{% endblock %}