{% extends 'myapp/base.html' %}
{% load static %}
{% block body_block %}
    <form id="profile" enctype="multipart/form-data" method="post"
          action="{% url 'myapp:profile_upload_handler' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-3">
                <h4>Upload your profile:</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-6">

                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="profile-selector" name="profile-selector">
                        <label class="custom-file-label" for="selector">Select a picture</label>
                        <input type="hidden" name="student-id" value="{{ request.user.id }}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-1 col-offset-8">
                <button class="btn btn-primary" style="margin: 10px 0;" type="submit">submit</button>
            </div>
        </div>
    </form>
    <script>
        $(function () {
            $("#profile-selector").fileinput({
                showUpload: false,
                allowedFileTypes: 'image',
                allowedFileExtensions: ['jpg', 'png'],
                maxFileSize: 2048,
                maxFileCont: 1
            });
        });
    </script>
{% endblock %}